.display-4 {
    text-align: center;
    color: purple;
}

.lead {
    text-align: center;
    color: purple;
}

#carouselExampleCaptions {
    max-width: 75%;
    text-align: center;
    max-height: 600px;
    margin: auto;
}

img {
    object-fit: contain;
    max-height: 600px;
}

p {
    color: black;
    text-emphasis: bold;
}

.black {
    color: black;
}

.white {
    color: white;
}

